body{
  background-image: url(../image/yellow-wall.jpg); 
  margin: 0; 
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}
.xxtext{
  text-align: center;
}
.header{
  height: 100px;
  margin: 0 auto;
  background: rgba(230, 192, 154, 0.63);
  border: none;
}
.dws-menu *{
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, Helvetical, sans-serif;
  margin-top: 0px;
}
.dws-menu ul,
.dws-menu ol{
  list-style: none;
}
.dws-menu > ul{
  display: flex;
  justify-content: center;
}
.dws-menu > ul li a{
  display: block;
  background: #ececed;
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-align: center;
}
.dws-menu > ul li{
  position: relative;
  border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li > a i.fa{
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}
.dws-menu > ul li:first-child{
  border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
  border-right: 1px solid #babbbb;
}
.dws-menu li a:hover{
  background: #454547;
  color: #ffffff;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
}
.dws-menu li ul{
  position: absolute;
  min-width: 150px;
  display: none;  
}
.dws-menu ul > {
    position: absolute;
    min-width: 150px;
    display: none;
}
.dws-menu li > ul li{
  border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
  padding: 10px;
  text-transform: none;
  background: #e4e4e5;
}
.dws-menu li > ul li ul{
  position: absolute;
  right: -150px;
  top: 0;
}
.dws-menu li:hover > ul{
  display: block;
}
.cart{
  text-align: center;
    margin: 54px 0px 0px 0px;
}
.icon{
    text-align: center;
}

.blog{
    width: 1000px;
    height: 1500px;
    background: rgba(230, 192, 154, 0.63);
    margin: 56px auto;
}
center{
    margin: 0px 0px 0px 0px;
}
p{
    text-indent: 30px;
    font-size: 16px;
}
.text{
    margin: 10px 10px 10px 10px;
}